body {
    background-color: #1e1e1e;
    color: whitesmoke;
    overflow: hidden;
}

div.flex-container {
    display: flex;
    justify-content: space-between;
    height: 100vh;
    

}



div.flex-container>div {
    margin: 10px;
    border-radius: 10px;

}

div.flex-container>div h2 {
    text-align: center;
}



/* left section starts */
.left-section {
    width: 15%;
    background-color: #3c3c3c;
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 10px;

}
/* title of the menu */
.title {
    padding: 10px;
    list-style-type: none;
    color: gainsboro;
    margin: 10px;
}
/* menus */
.menu {
    padding: 20px;
    border-radius: 10px;
    color: gainsboro;
    position: relative;
    list-style-type: none;

}

.menu:hover {
    background-color: #4d4d4d;
    cursor: pointer;
    color: red;

}



.menu.selected {
    background-color: red;
    color: whitesmoke;
}

/* logout in menu */
.logout {

    margin-top: auto;
    padding: 20px;
    border-radius: 10px;


}


.logout:hover {
    background-color: #4d4d4d;
    cursor: pointer;
    color: red;

}

.logout.selected {
    background-color: red;
    color: whitesmoke;

}

hr{
    width: 70%;             
  margin: 10px auto;       
  border: none;            
  height: 2px;             
  background-color:#4d4d4d;   

}

/* left section end */

/* right section start */

.right-section {
    width: 25%;
    background-color: #3c3c3c;
    position: relative;
    display: flex;
    flex-direction: column;

}

/* scroll the right part */
.scrollable_content {
    overflow-y: auto;

}

.scrollable_content::-webkit-scrollbar {
    display: none;
}


/* profile chip */
.chip {
    display: inline-block;
    padding: 10px 25px;
    height: 50px;
    font-size: 16px;
    line-height: 50px;
    border-radius: 25px;
    background-color: #3c3c3c;
    color: whitesmoke;
    display: flex;
    flex-direction: row;

    align-items: center;

}

.chip img {
    padding: 10px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

/* genres */
.genre {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #3c3c3c;
    padding: 7px;
    gap: 5px;
    margin: 10px;
}

.genre div {
    background-color: #4d4d4d;
    color: whitesmoke;
    padding: 10px;
    font-size: 15px;
    text-align: center;
    border-radius: 20px;
}

.genre div:hover {
    background-color: red;
    cursor: pointer;
    color: whitesmoke;
}

.genre div.selected {
    background-color: red;
    color: whitesmoke;
}

.genrehidden {
    display: none;
}

/* upgrade to pro */
.upgrade {
    background-color: red;
    color: whitesmoke;
    border-radius: 10px;
    width: auto;
    text-align: center;
    margin: 10px;
    padding: 10px;


}

.upgrade div {
    background-color: #000;
    color: whitesmoke;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.upgrade div:hover {
    background-color: white;
    cursor: pointer;
    color: black;
}

/* newtrailer card */
.newtrailer {
    background-color: #3c3c3c;
    color: whitesmoke;
    border-radius: 10px;
    margin: 10px;
    position: relative;
    overflow: hidden;
}

.newtrailer img {
    height: 190px;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.newtrailer div {
    background-color: #000;
    color: whitesmoke;
    border-radius: 10px;
    padding: 10px;

    text-align: center;
}

.newtrailer div.newtrans {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;

    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(5px);
    color: white;
    -webkit-backdrop-filter: blur(5px);
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* +40 genres */
.moregenre {
    background-color: #4d4d4d;
}

/* right section end */



/* middle section start */
.middle_container {

    flex: 1;
    overflow-y: auto;

}

.middle_container::-webkit-scrollbar {
    display: none;
}

/* horizontal nav */
.hr_nav {
    display: flex;
    justify-content: left;
    background-color: #3c3c3c;

    border-radius: 10px;
    padding:10px;
}

.hr_nav li {
    display: block;
    padding: 3px 5px;
    color: gainsboro;
}

.hr_nav :hover {
    background-color: #4d4d4d;
    cursor: pointer;
    color: whitesmoke;

    border-radius: 10px;
}

/* big banner */
.banner {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

/* genre of the movies */
.genre_card {
    display: flex;
    gap: 10px;
}

.genre_card span {
    background-color: #4d4d4d;
    color: white;
    padding: 5px 10px;


    border-radius: 10px;
    display: inline-block;
    margin: 0;
}
/* continue watching progress */
.progress {
    text-align: center;
    display: flex;
    gap: 10px;
}

.progress p {
    color: white;
}

.progress input {
    flex: 1;
}

/* container for the continue watching part */
.container {
    display: grid;
    grid-template-columns: auto auto;

    padding: 5px;
    gap: 5px;

}

.container div {
    background-color: #3c3c3c;
    color: #000;
    padding: 10px;
    font-size: 15px;
    text-align: left;
    border-radius: 20px;
}

/* continue watching card */
.card {
    display: flex;
    /* gap: 15px; */
    background: #1e1e1e;

    border-radius: 15px;
    color: white;
    flex-wrap: wrap;

}

/* recommendations grid  */
.grid_mid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: #1e1e1e;
    gap: 10px;
}

.grid_mid div {
    color: #000;
    font-size: 15px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
}

.grid_mid div img {
    height: 250px;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}

/* heart icon  */
div.heart {
    margin: 10px;
    border-radius: 10px;
    background-color: #4d4d4d;
    transition: 0.2s;
    color: white;
}

.fa-heart.fa-solid {
    color: red;
}

/* continue watching card right-side's top part */
.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top h3 {
    color: white;
}

.top div i {
    font-size: 24px;
    border-radius: 10px;
    color: white;
}

/* continue watching card left-side's  */

.left img {
    width: 170px;
    height: 250px;
    border-radius: 10px;
    object-fit: cover;
}
/* continue watching card right-side */
.right {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* transparent box on top of the recomendations */

div.transbox {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(10px);
    color: white;
    -webkit-backdrop-filter: blur(10px);
    box-sizing: border-box;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* middle section end */



















